# URL del Web App desplegado en Google Apps Script
# Reemplazá YOUR_DEPLOYMENT_ID por el ID real al desplegar el GAS
VITE_GAS_URL=https://script.google.com/macros/s/AKfycbyQkFlZ1kXSti89kWRrtPgw1PLDowYGIN6Thmu491poshdP_NQ9lLvhz3Vluu6Ew81D/exec